/* Dracula-inspired syntax highlighting */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: transparent;
  text-shadow: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #6272a4;
  font-style: italic;
}

.token.punctuation {
  color: #f8f8f2;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #ff5555;
}

.token.boolean,
.token.number {
  color: #bd93f9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #50fa7b;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #8be9fd;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive {
  color: #ff79c6;
}

.token.function,
.token.class-name,
.token.method {
  color: #f1fa8c;
}

.token.regex,
.token.important,
.token.variable,
.token.parameter {
  color: #ffb86c;
}

.token.namespace {
  color: #caa9fa;
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

/* Highlight.js fallbacks */
.hljs {
  color: #f8f8f2;
  background: transparent;
}

.hljs-comment,
.hljs-quote {
  color: #6272a4;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #ff79c6;
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #50fa7b;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #f1fa8c;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #8be9fd;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #bd93f9;
}

.hljs-built_in,
.hljs-deletion {
  color: #ff5555;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
