/* One Half Dark Syntax Theme */

code[class*="language-"],
pre[class*="language-"] {
  color: #dcdfe4;
  background: transparent;
  text-shadow: none;
}

/* Comments */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5c6370;
  font-style: italic;
}

/* Punctuation */
.token.punctuation {
  color: #abb2bf;
}

/* Strings */
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #98c379;
}

/* Numbers, booleans */
.token.boolean,
.token.number {
  color: #e5c07b;
}

/* Keywords */
.token.atrule,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive {
  color: #c678dd;
}

/* Functions, class names */
.token.function,
.token.class-name,
.token.method {
  color: #61afef;
}

/* Tags, properties */
.token.property,
.token.tag,
.token.constant,
.token.symbol {
  color: #e06c75;
}

/* Deleted */
.token.deleted {
  color: #e06c75;
}

/* Operators, URLs */
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

/* Variables, regex */
.token.regex,
.token.important,
.token.variable,
.token.parameter {
  color: #e5c07b;
}

/* Namespace */
.token.namespace {
  color: #abb2bf;
}

.token.important,
.token.bold {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}
